.chat-block{
	padding:0.5em 0;
}
.chat-profile{
	/*border:1px solid red;*/
	height: 3em;
	width:3em;	
	text-align: center;

}
.chat-profile-image{
	border-radius: 50%;
}
.chat-message-details{
	/*border:1px solid blue;*/
	width:100%;
	padding:0.5em 0;
	margin-left:0.8em;
	border-bottom:1px solid #DDD;
}
.chat-name{
	font-size:0.9rem;
}
.chat-message{
	font-size: 0.7rem;
	padding:0.3rem 0;
	color:gray;
}
.chat-time{
	color:gray;
	font-size:0.7rem;
}
/*Small Profile box*/
.small-profile-back{
	position: absolute;
	height:100%;
	width:100%;
	background-color: rgba(0,0,0,0.5);
	top:0;
	left:0;
}
.small-profile-block{
	z-index:1;
	/*border:1px solid red;*/
	height:16em;
	width:14.5em;
	position: absolute;
	top:10%;
	left:17%;

}
.small-profile-image-name{
	height:14.5em;
	width:14.5em;
	/*border:1px solid red;*/
}
.small-profile-name{
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	color:#FFF;
	padding: 0.2em 0.5em
}
.small-profile-icons-block {
	padding:0.4em 0;
	/*border:1px solid blue;*/
	background-color: #FFF;
}
.personal-chat-icons{
	/*border:1px solid red;*/
	width:90%;
	margin:0 auto;
}
.group-chat-icons{
	/*border:1px solid red;*/
	width:60%;
}
a+a{
	margin-left:1.5em;
}
.new-icon{
	background: #10e313;
	height:3em;
	width:3em;
	border-radius: 50%;
	position: absolute;
	bottom:0;
	display: flex;
	align-items: center;
	justify-content: center;
	right:0.7em;
	bottom:0.7em;
	box-shadow: 3px 3px 12px 0 gray;
}
.new-icon-image{
	max-width:50%;
}