.dropdown-list-item a{
	font-size: 0.9rem;
}
.contacts-top,.contacts-search-container{
	 background-color: #075E54;
	 padding:0.6em 0;
	 width: 100%;
}
.contacts-top-text{
	margin-left:1em;
}
.contact-title,.contact-length{
	display:block;
	color:#FFF;
}
.contact-length{
	font-size: 0.8rem;
}
.contacts-top-icons{
	margin-left:auto;
	width:20%;
	display: flex;
	justify-content: space-between;
}
.contacts-search-container{
	background-color: #FFF;
	box-shadow: 0 1px 5px 0 darkgray;
}
.contacts-search{
	border:0;
	margin-left:0.8em;
}