/*Top*/
.chat-profile-top{
	/*border:1px solid red;*/
	position: fixed;
	top:0;
	left:0;
	width:100%;
	background-color: #075E54;
	color:#FFF;
	padding:0.3em 0;
}
.chat-top-profile-image{
	height: 2em;
	width:2em;
	border-radius:50%;
	/*border:1px solid blue;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.name-details{
	/*border:1px solid yellow;*/
	margin-left:0.5em;
	width:50%;
}
.chat-profile-name{
	font-weight:bold;
}
.details{
	font-size:0.8rem;
}
.chat-top-icons{
	/*border:1px solid pink;*/
	width:30%;
}
.dropdown-list-item{
	/*border:1px solid red;*/
}
/*Search*/
#chat-search{
	background: transparent;
	border:0;
	padding:0.3em;
	color:#FFF;
	box-shadow:0 1px 0 0 #FFF;
	width:60%;
}
/*Message Section*/
.message-tip{
	background-color: rgb(250,245,12);
	width:80%;
	top:10%;
	padding:0.3rem;
	border-radius: 8px;
	text-align: center;
	font-size: 0.8rem;
	color:gray;
	margin:0 auto;
	position: relative;
	/*position: fixed;*/
}
.messages-section{
	height:100vh;
	background-color: #ECE5DD;
}
/*Input box and icons*/
.bottom-wrapper{
	/*border:1px solid red;*/
	background-color: #ECE5DD;
	position: fixed;
	width:100%;
	bottom:0;
}
.input-box-container{
	/*border:1px solid blue;*/
	border-radius:50px;
	width:88%;
	padding:0.3em 0;
	background-color: #FFF;

}
.message-box{
	width:68%;
	border:0;
	/*border:1px solid red;*/
	padding:0.5em 0;
	background-color: transparent;
}
/*Mic*/
.voice-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: green;
	width:2.5em;
	height:2.5em;
	border-radius: 50%;
}