.wrapper{
	background-color: lightgray;
	color:#555;
	padding:0.3em 0;

}
.wrapper .container{
	font-size:0.9rem;
}
.status-block{
	padding:0.3em 0;
}
.status-image{
	box-shadow:0 0 0 3px #DDD;
	height:3em;
	border-radius: 50%;
	width:3em;
	/*background-image:url('https://images.unsplash.com/photo-1612815292258-f4354f7f5c76?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit');*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.recent-status-image{
	box-shadow:0 0 0 3px green;
}
.status-details{
	margin-left:1em;
}
.status-profile-name{
	font-weight:bold;
	font-size: 1rem;
	/*border:1px solid red;*/
	margin: 0.2em 0;
	display: block;
}
.muted-status-image{
	box-shadow:none;
	opacity:0.6;
}
.muted-status-details{
	opacity: 0.6;
}
.status-image img{
	/*border-radius: 50%;*/
}
.status-day,.status-time{
	font-size: 0.8rem;
	color:gray;
}
.text-status-icon{
	bottom:4.5em;
	right:1em;
	height:2.5em;
	width:2.5em;
	background:#DDD;
}