.top{ 
  background-color: #075E54;
  width: 100%;
  color:#DCDCDC;
  padding:0.5em 0 0 0;
  position: sticky;
}

.title{
	font-weight: bold;
	font-size: 1rem;
	color:#FFF;
}
.title-icon{
	/*border:1px solid #FFF;*/
	padding:0.2em 0 0.8em 0;
}
.icons-container{
	/*border:1px solid red;*/
	width:15%;
	font-size: 1.1rem;
	color:#FFF;
}
.options{
	/*position: fixed;*/
}
.option-value{
	width:60%;
	padding:0.5em 0;
	font-weight: bold;
	/*border:1px solid red;*/
	text-align: center; 
}
.option-value-text{
	font-size: 0.9rem;
}
.option-icon{
	/*border:1px solid red;*/
	margin: 0 0.5em;
}
.active{
	color:#FFF;
	border-bottom: 2px solid #fff;
}
/*Dropdown*/
.header{
	border:0;
	background:none;
	color:#FFF;
	text-align: center;
	padding-top:3px;
	font-size: 1.1rem;
}
.dropdown-list{
	position:absolute;
    background-color:#FFF;
    right:0.5vw;
    top:0.5vh;
    /*min-width:55vw;*/
    z-index:2;
    box-shadow:0 8px 16px 0 rgb(0,0,0,0.3);
    border-radius:2px;
}
.dropdown-list-item{
	text-align: left;
	font-size: 0.95rem;
	padding:0.5em 3em 0.6em 0.8em;
	display: block;
	width:100%;
	border:0;
	background:none;
} 
/*Search*/
.advanceSearch{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	background-color: #FFF;
	color:#555;
	box-shadow: 1px 2px 8px 0 #DDD;
}
.searchArea{
	box-shadow:1px 1px 2px 0 #DDD;
	/*padding:0.5em;*/
}
.searchInput{
	border:none;
	padding:0.8em 1em;
	/*border:1px solid red;*/
}
.searchOptions{
	font-size: 0.8rem;
	margin:0.8em 0;
}
.eraseAll{
	/*visibility: hidden;*/
}
.searchOption{
	display: inline-block;
	/*border:1px solid red;*/
	border-radius: 15px;
	padding:0.4em 0.5em;
	text-align: center;
	margin:0.3em;
	background-color: #DDD;
}