*,*::after{
  box-sizing: border-box; 
}
body{
  margin:0;
}
.container{
	width: 90%;
	margin: 0 auto;
}
.flex,.flex-space{
	display: flex;
	align-items: center;
}
.flex-space{
	justify-content: space-between;
}
